body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(img/Contact-Form-background.jpg);
    background-size: cover;
    background-position: center;

}
.Add-items-form{
    width: 50vh;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background-color: white;
    padding: 3.6vh;
    margin: 8% auto 0;
    text-align: center;

}
.Add-items-form h1{
    color: teal;
    margin-bottom: 3.6vh;
}
.add-item{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;

}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.add{
    background-color: #1c8adb;
}
img{
    width: 70px;
    border-radius: 20px;
}
#myFile{
    color: yellow;
}